*.db
.env
frontend/media/
# Ignore all files in frontend/data/ by default
frontend/mockups/*
tmp/

.DS_Store/
frontend/.DS_Store/
admin/pages/__pycache__/
dev_resources/
node_modules/
**/.DS_Store/
TBD.md